* {
  box-sizing: border-box;
}

html:has(.profile-card-example) {
  height: 100vh;
}

body:has(.profile-card-example) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open Helvetica;
  color: #10214e;
}

article.profile-card-example {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background: rgb(220, 211, 224);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
  height: 400px;
}

header.profile-card-example-header {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  justify-content: flex-end;
  margin-left: 170px;
  margin-top: 60px;

  /* Je kunt selectors nesten! */
  h1 {
    margin:128px;
    margin-right: 150px;
    color: rgb(15, 37, 38);
    margin-bottom: 20px;
    
  }

}


.profile-card-example-img {
  position:absolute;
  object-fit: cover;
  top: 90px;
  width: 130px;
  height: 190px;
  border-radius: 0.5em;
  box-shadow: 0 0 2px 2px rgba(116, 66, 100, 0.278);
  transition: .25s .15s;
  margin-right: 135px;
}

  dt {
    margin-left: 150PX;
    margin-top: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
    &:nth-of-type(1) {
      grid-area: html-dt;
    }
    
  }


.profile-card-example p {
  margin: 400;
}



